<%-include('../partials/heder.ejs') %>

<div class="shopping-cart section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Shopping Summery -->
        <table class="table shopping-summery">
          <thead>
            <tr class="main-hading">
              <th>PRODUCT</th>
              <th>NAME</th>
              <th class="text-center">HOUR PRICE</th>
              <!-- <th class="text-center">QUANTITY</th> -->
              <th class="text-center">TOTAL</th>
              <th class="text-center"><i class="ti-trash remove-icon"></i></th>
            </tr>
          </thead>
          <tbody>

            <% if(cartz.cart.items.length==0){ %>
            <h5>Cart is Empty</h5>
            <% }else{ %>
            <% for(let i=0;i<cartz.cart.items.length;i++){ %>
            <% let cartItems=cartz.cart.items[i] %>

            <tr id="<%=cartz.cart.items[i].productId._id %>">
              <td class="image" data-title="No"><img src="../images/<%=cartItems.productId.image %>" alt="#"></td>
              <td class="product-des" data-title="Description">
                <p class="product-name"><a href="#">
                    <%=cartItems.productId.name %>
                  </a></p>
                <p class="product-des"></p>
              </td>
              <td class="price" data-title="Price"><span>₹<%=cartItems.productId.price
															%></span></td>
              <td class="total-amount" data-title="Total"><span>₹<%=cartItems.Trate%>
                </span></td>
              <td class="action" data-title="Remove"><button button onclick="removeProduct('<%=cartz.cart.items[i].productId._id %>')"><i class="ti-trash remove-icon"></i></button></td>
            </tr>
            <% } %>
            <% } %>



          </tbody>
        </table>
        <!--/ End Shopping Summery -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Total Amount -->
        <div class="total-amount">
          <div class="row">
            <div class="col-lg-8 col-md-5 col-12">
              <div class="left">
                <div class="coupon">
                  <form action="" id="Couponform">
                    <input placeholder="Enter Your Coupon" id="coupun">
                    <button class="btn" type="submit" id="applybuttoun">Apply</button>
                    <div id="success" class="alert alert-primary mt-2 ml-2" role="alert" style="display: none;">
                      valid coupon!
                    </div>
                    <div id="error" class="alert alert-danger " role="alert" style="display: none;">
                      This is a Invalid coupon!
                    </div>
                  </form>
                </div>
                <div class="checkbox">
                  <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Shipping (+10$)</label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-7 col-12">
              <div class="right">
                <ul>
                  <li>Cart Subtotal ₹<span id="total"><%=cartz.cart.totalPrice %></span></li>
                  <!-- <li>You Save<span>$20.00</span></li> -->
                  <li class="last">You Pay<span>₹<%=cartz.cart.totalPrice %></span></li>
                </ul>
                <div class="button5">
                  <a  class="btn" onclick="checkOut('<%=cartz._id%>')">Checkout</a>
                  <a href="/cars" class="btn">Continue shopping</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Total Amount -->
      </div>
    </div>
  </div>
</div>


<script>


  function removeProduct(id) {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger'
      },
      buttonsStyling: false
    })

    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You Delete this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        window.location = '/Cartremove/' + id

        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Successfuly deleted',
          showConfirmButton: false,
          timer: 1500

        })

      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your imaginary file is safe :)',
          'error'
        )
      }
    })
  }

  let clicked= false
  document.getElementById("Couponform").addEventListener('submit',(e)=>{
     e.preventDefault()
	 	const coupunCode = document.getElementById('coupun').value
	    const Total=document.getElementById("total").innerHTML; 
		console.log(Total);
	if(coupunCode==""){
		document.getElementById('error').style.display = 'inline'
        setTimeout(() => document.getElementById('error').style.display = 'none', 2000)
	}
	else{
		fetch('http://localhost:3000/coupen',{
			headers: {
          'Content-Type': 'application/json'
		  
        },
		method: "POST",
        body: JSON.stringify({
          Coupen: {
			Code:coupunCode,
			Totale:Total
          }
        })
		

			
		})
	}
  })


  function checkOut(id){
	const coupunCode = document.getElementById('coupun').value
    const Total=document.getElementById("total").innerHTML; 
	window.location.href=`/ChEackout/`+id
  }
  

</script>