

<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4">
                <img id="main-image" src="" width="250" />
              </div>
              <div class="thumbnail text-center">
                <img
                  onclick="change_image(this)"
                  src="../images/<%=prodects.image %>"
                  width="70"
                />
                <img
                  onclick="change_image(this)"
                  src="../images/<%= prodects.image %>"
                  width="70"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <i class="fa fa-long-arrow-left"></i>
                  <span class="ml-1">Back</span>
                </div>
                <i class="fa fa-shopping-cart text-muted"></i>
              </div>
              <div class="mt-4 mb-3">
                <span class="text-uppercase text-muted brand">Orianz</span>
                <h5 class="text-uppercase"><%=prodects.name %></h5>
                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price" id="price"><%=prodects.price %></span>
                  <div class="ml-2">
                    <small class="dis-price">$500</small> <span>40% OFF</span>
                  </div>
                </div>
              </div>
              <p class="about">
                Shop from a wide range of t-shirt from orianz. Pefect for your
                everyday use, you could pair it with a stylish pair of jeans or
                trousers complete the look.
              </p>
              <!-- <div class="sizes mt-5">
                                <h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio"
                                        name="size" value="S" checked> <span>S</span> </label> <label class="radio">
                                    <input type="radio" name="size" value="M"> <span>M</span> </label> <label
                                    class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label>
                                <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span>
                                </label> <label class="radio"> <input type="radio" name="size" value="XXL">
                                    <span>XXL</span> </label>
                            </div> -->
                            <!-- <div class="mt-4 mb-3">
                              <div style="display: flex; width: 100%;">
                               
                                <input
                                type="datetime-local"
                                class="w-50% mt-3"
                                placeholder="select date and time"
                                style="
                                  background: transparent;
                                  height: 50px;
                                  border-color: #f7941d;
                                "
                                id="start"
                                onchange="selectTimeslote()"
                              />
                              <P style="margin-top: 30px; margin-left: 10px;"> TO</P>
                              <input
                              type="datetime-local"
                              class="w-50% mt-3 "
                              placeholder="select date and time"
                              style="
                                background: transparent;
                                height: 50px;
                                border-color: #f7941d;
                                margin-left: 20px;
                              "
                               onchange="selectTimeslote()"
                              id="end"
                            />
                              </div>



                            </div>
                            <div> <p id="totalhours"></p></div> -->

                      
              <div class="cart mt-4 align-items-center">
                <button class="btn text-uppercase mr-2 px-4">
                  Add to cart
                </button>
                <a class="btn text-uppercase mr-2 px-4" href="/booking/<%= prodects._id %>"
                  >BOOK NOWE</a
                >
                <i class="fa fa-heart text-muted"></i>
                <i class="fa fa-share-alt text-muted"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
    .card {
        border: none;
    }

    .product {
        background-color: #eee;
    }

    .brand {
        font-size: 13px;
    }

    .act-price {
        color: #F7941D;
        font-weight: 700;
    }

    .dis-price {
        text-decoration: line-through;
    }

    .about {
        font-size: 14px;
    }

    .color {
        margin-bottom: 10px;
    }

    label.radio {
        cursor: pointer;
    }

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none;
    }

    label.radio span {
        padding: 2px 9px;
        border: 2px solid #F7941D;
        display: inline-block;
        color: black;
        border-radius: 3px;
        text-transform: uppercase;
    }

    label.radio input:checked+span {
        border-color: #F7941D;
        background-color: #F7941D;
        color: #fff;
    }

    .btn {
        background-color: black !important;
        border-color: beige;
    }

    .btn:hover {
        background-color: #F7941D !important;
        border-color: #F7941D !important
    }

    .btn :focus {
        box-shadow: none;
    }

    .cart i {
        margin-right: 10px;
    }
</style>

<script>
  function change_image(image) {
    var container = document.getElementById("main-image");

    container.src = image.src;
  }

  document.addEventListener("DOMContentLoaded", function (event) {});

  
</script>
<%-include('../partials/footer.ejs') %>
