
<div class="container">
  <div class="main-body">
    <form action="/Profile/<%=userdetailes._id%>" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <div class="row">
                  <div class="avatar-upload">
                    <div class="avatar-edit">
                     <i class="fa fa-camera  upload-buttoun  " style="size: 100%; margin-top: 3.5em;"> <input type="file"id="imageUpload" name="image" required></i>
                    </div>

                    <h3 class="text-center">Your Profile</h3>
                    <div class="avatar-preview" style="margin-top: 1em;">
                      <div id="imagePreview" style="background-image: url('../images/<%=userdetailes.image%>');">
                      </div>
                    </div>  
                  
                  </div>
                </div>

                <div class="mt-3">
                  <h4><%=userdetailes.name%></h4>
                  <!-- <p class="text-secondary mb-1">Full Stack Developer</p> -->
                  <p class="text-muted font-size-sm">
                    <%=userdetailes.address%>
                  </p>
                </div>
              </div>
              <hr class="my-4" />
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="name" value="<%=userdetailes.name%>" required />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="email" class="form-control" name="email" value="<%=userdetailes.email%>" required  readonly />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">

                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">

                  <input type="number" name="phone" class="form-control" value="<%=userdetailes.phone %>" required maxlength="10" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Licence number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="number" class="form-control" value="<%=userdetailes.lice %>" name="lice" required />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="address" value="<%=userdetailes.address %>" required />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button type="submit" class="btn btn-primary px-4">SaveChaneges</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
<%-include('../partials/footer.ejs') %>



<style>
  body {
    background: #f7f7ff;
    margin-top: 20px;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
      0 2px 6px 0 rgb(206 206 238 / 54%);
  }

  .me-2 {
    margin-right: 0.5rem !important;
  }

  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }

  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }

  /* .avatar-upload .avatar-edit input {
    display: none;
  } */

  .avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;

    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }

  .avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #110f0f;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }

  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f7941d;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .fa-camera {
    position: relative;
    overflow: hidden;
}
.upload-buttoun input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
</style>