<%- include('../partials/adminheader.ejs') %> 
<div class="row my-5 container">
    <h3 class="fs-4 mb-3">BOOKING DETAILS</h3>
    <div class="col">
      <table class="table bg-white rounded shadow-sm table-hover">
        <thead>
          <tr>
            <!-- <th scope="col" width="50">#</th> -->
            <th scope="col"></th>
            <th scope="col">email</th>
            <th scope="col">License</th>
            <th scope="col">vehicle Name</th>
            <th scope="col">Total Rate</th>
          </tr>
        </thead>
        <tbody>
         <% result.forEach(order=>{
          order.cart.items.forEach(item => {

      %>
          <tr>
            <!-- <th scope="row"></th> -->
            <td class="image" data-title="No"><img src="../images/<%=item.productId.image %>" alt="#" style="width: 50px; height: 50px;"></td>
            <td><%=order.email %></td>
            <td><%=order.lice %></td>
            <td><%=item.productId.name %></td>
            <td>₹<%= item.Trate %></td>

          </tr>
        <%     })
          }) %>
        </tbody>
      </table>
    </div>
  </div>