<%- include('../partials/adminheader.ejs') %>

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <% result.forEach(value=>{%>
          <div class="card-body" style="color: black;">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src=" ../images/<%=value.image%>" class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5><%=value.name%></h5>
                <!-- <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <span>310</span>
                </div> -->
                <!-- <div class="mt-1 mb-0 text-muted small">
                  <span></span>
                  <span class="text-primary"> • </span>
                  <span>Light weight</span>
                  <span class="text-primary"> • </span>
                  <span>Best finish<br /></span>
                </div>
                <div class="mb-2 text-muted small">
                  <span>Unique design</span>
                  <span class="text-primary"> • </span>
                  <span>For men</span>
                  <span class="text-primary"> • </span>
                  <span>Casual<br /></span>
                </div> -->
                <p class="text-truncate mb-4 mb-md-0">
                  <%= value.moredetails %>

                </p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">₹<%=value.price %></h4>
                  <span class="text-danger"><s>₹₹20.99</s></span>
                </div>
                <!-- <h6 class="text-success">Free shipping</h6> -->
                <div class="d-flex flex-column mt-4">
                  <!-- <a class="btn btn-primary btn-sm"  href=" /admin/vehicless/" type="submit"  onclick="conform()">DELETE</a> -->
                  <a class="btn btn-primary btn-sm" type="submit" onclick="conform('<%=value._id %>')">DELETE</a>
                  <a class="btn btn-primary btn-sm mt-2" type="submit" href="/admin/vehicles/<%=value._id%>">
                    EDIT
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>

    </div>
</section>

<script>
  function conform(id) {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger'
      },
      buttonsStyling: false
    })

    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You Delete this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        window.location = '/admin/vehicless/' + id

        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Successfuly deleted',
          showConfirmButton: false,
          timer: 1500

        })

      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your imaginary file is safe :)',
          'error'
        )
      }
    })
  }
</script>